@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.main__content{
  display: flex;
  height:calc(100vh - 60px);
}
.page__control{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2e2e2e;
}
.outlet{
  height: 100%;
  padding: 2rem;
  overflow-x: hidden;
}
.link{
  text-decoration: none;
  color: inherit;
}