@import '../../sass/index.scss';

.projects{

    h3{
        margin-bottom: 30px;
    }
    .projects__container{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 32px;

        .project__card{
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            overflow: hidden;
           
            
            .project__card__header{
                height: 15px;
                margin-bottom: 8px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}